/*
rgb(39,75,114); // vfa blue
rgb(202,62,62); // vfa red
rgb(245,245,245); // vfa grey
*/
#under-nav {
 height: 52px;
}
#selectors {
  background-color: rgb(245,245,245); /* vfa grey */
  overflow-y: auto;
}
#selectors[data-magellan-expedition], #selectors[data-magellan-expedition-clone] {
  min-width: inherit;
  height: 100%;
  left: inherit;
  padding: 0 15px;
}
#selectors[data-magellan-expedition].fixed {
  top: 52px !important;
}
#selectors[data-magellan-expedition-clone] {
  visibility: hidden;
}
.small-3.fixed {
  width: 25%;
}

#map {
  height: 500px;
}
#results {
  overflow-x: auto;
}

.fellow.row, .company.row {
  border: 1px solid rgb(39,75,114); /* vfa blue */
  margin-bottom: 5px;
}
.summary {
  border-left: 1px solid rgb(39,75,114); /* vfa blue */
}

header .logo {
  top: 2px;
  left: 2px;
  background-position: 0 -67px !important;
  position: absolute;
}

#map-search-results {
  float: left;
}

.main {
  top: 52px;
  height: 100%;
}

.selector li.selected {
  font-weight: bold;
  text-decoration: underline;
}