#selectors {
  background-color: rgb(245,245,245); /* vfa grey */
}
#selectors-nav {
  padding-left: 0;
  padding-right: 0;
}
#selectors dl dd a {
  padding: 3px 9px;
}

#selectors[data-magellan-expedition], #selectors[data-magellan-expedition-clone] {
  min-width: inherit;
  height: 100%;
  left: inherit;
  padding: 0 15px;
}
#selectors[data-magellan-expedition], #map-search-results {
  top: 52px !important;
}
#selectors[data-magellan-expedition-clone] {
  visibility: hidden;
}
.small-3.fixed {
  width: 25%;
}

#map {
  height: 500px;
}
#results {
  overflow-x: auto;
}

.fellow.row, .company.row {
  border: 1px solid rgb(39,75,114); /* vfa blue */
  margin-bottom: 5px;
}
.summary {
  border-left: 1px solid rgb(39,75,114); /* vfa blue */
}

header .logo {
  top: 2px;
  left: 2px;
  background-position: 0 -67px !important;
  position: absolute;
}

form select {
  padding: 0px !important;
}

#map-search-results {
  float: left;
}

.main {
  top: 52px;
  height: 100%;
}