<template name="fellow">
<div class="row fellow" id="fellow-{{id}}">
  <div class="small-2 columns image-container">
    <div class="row image-header">.</div>
    <div class="image" style="background: url(http://match.ventureforamerica.org{{displayPicturePath}})"></div>
  </div>
  <div class="small-10 columns">
    <div class="row item-header">
      <div class="small-4 columns name">{{firstName}} {{lastName}}</div>
      <div class="small-8 columns text-right year-city">{{fellowYear}} - {{city}}</div>
    </div>
    <div class="row item-info">
      <div class="small-4 columns job-school">
        <div class="company-name">{{#if companyName}}{{companyName}}{{/if}}</div>
        <div class="major">{{major}}</div>
        <div class="school">{{school}} {{graduationYear}}</div>
      </div>
      <div class="small-8 columns summary">
        SUMMARY
      </div>
    </div>
  </div>
</div>
</template>
