<template name="fellow">
<div class="row fellow" id="fellow-{{id}}">
  <div class="small-2 columns image"><img src="http://match.ventureforamerica.org{{displayPicturePath}}"></div>
  <div class="small-3 columns info">
    {{firstName}} {{lastName}}<br>
    {{fellowYear}} Fellow<br>
    {{#if companyName}}
      {{companyName}}, {{city}}<br>
    {{/if}}
    {{school}} {{graduationYear}}<br>
  </div>
  <div class="small-7 columns summary">SUMMARY:
    major: {{major}},
    degree: {{degree}},
    hometown: {{hometown}},
    allText: {{allText}}
  </div>
</div>
</template>
